---
import PageLayout from "../../layouts/PageLayout.astro";
import MoreQuestions from "../../partials/more.astro";
import {Image} from "astro:assets";
import report1Image from "../../images/site/easy-report-01.jpg"
import report2Image from "../../images/site/easy-report-02.jpg"
import report3Image from "../../images/site/easy-report-03.jpg"
import report4Image from "../../images/site/easy-report-04.jpg"
import report5Image from "../../images/site/easy-report-05.jpg"
import report6Image from "../../images/site/easy-report-06.jpg"
import ShareThis from "../../components/ShareThis.astro";
import FrequentlyAskedQuestions from "../../partials/faq.astro";
---
<PageLayout title="EASYREPORT STARTER KIT - ASP.NET Core solution template for ad-hoc reporting (ERSK)">
    <section class="container-fluid hero-section hero-block">
        <div class="container">
            <div class="row">
                <div class="cell-md-6 d-flex flex-column flex-justify-center">
                    <h1 class="hero-section__header">EASYREPORT STARTER KIT</h1>
                    <h2 class="mt-0">ASP.NET Core solution template for ad-hoc reporting (ERSK)</h2>
                    <div class="">
                        <div class="mt-1">
                            <ul>
                                <li>Report management with visual query builder</li>
                                <li>Data visualization (tables, charts, pivots etc)</li>
                                <li>User access management with roles, guest access</li>
                                <li>data export, scheduled reports, and more</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-4">
                        <a href="#licensing" class="button fg-white bg-dark-violet bd-violet" >GET IT NOW</a>
                        <a href="https://easy.report" class="button fg-white bg-dark-violet bd-violet" >Live Demo</a>
                    </div>
                </div>

                <div class="cell-md-1"></div>

                <div class="cell-md-5 d-none d-flex-lg flex-column flex-justify-center hero-images">
                    <div class="h-100">
                        <Image src={report1Image} alt="" class="shadow-3" style="height: 90%"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid pt-10 pb-10">
        <div class="container">
            <h2 class="text-center text-bold">MAIN BENEFITS</h2>
            <div class="row mt-10">
                <div class="cell-md-6">
                    <div class="box h-100">
                        <h4>CLEAN ARCHITECTURE AND BEST PRACTICES</h4>
                        <p>
                            ERSK is built with clean architecture principles in mind. In this solution we applied all the best approaches and methods accumulated by our 20+ years of experience in building data applications.
                        </p>
                        <span class="mif-brackets-hexagon feature-check"></span>
                    </div>
                </div>
                <div class="cell-md-6">
                    <div class="box h-100">
                        <h4>REPORT MANAGEMENT</h4>
                        <p>
                            EasyReport users can create new reports and edit the existing ones without any assistance from developers. The reports can be shared across all team members.
                        </p>
                        <span class="mif-brightness-auto feature-check"></span>
                    </div>
                </div>
                <div class="cell-md-6">
                    <div class="box h-100">
                        <h4>DATA VISUALIZATION</h4>
                        <p>
                            ERSK provides a lot of ways of representing reports results. Tables, Charts, Pivot tables, Data Grouping and Sorting are available out of the box.
                        </p>
                        <span class="mif-bar-chart feature-check"></span>
                    </div>
                </div>
                <div class="cell-md-6">
                    <div class="box h-100">
                        <h4>USER MANAGEMENT</h4>
                        <p>
                            The solution includes all means for managing team members, their roles and access rights.
                        </p>
                        <span class="mif-person feature-check"></span>
                    </div>
                </div>
                <div class="cell-md-6">
                    <div class="box h-100">
                        <h4>MULTIPLE DATA SOURCES (PRO VERSION)</h4>
                        <p>
                            Pro version of ERSK allows users to set up several database connections and build reports for any of those database. Supported databases: SQL Server, MySQL, Postgre SQL, Oracle.
                        </p>
                        <span class="mif-databases feature-check"></span>
                    </div>
                </div>
                <div class="cell-md-6">
                    <div class="box h-100">
                        <h4>VISUAL QUERY BUILDER (PRO VERSION)</h4>
                        <p>
                            ERSK Pro includes EasyQuery library that provides a user-friendly UI for query building. So, even non-experienced users without any knowledge of SQL or database design can create reports and get the result data.
                        </p>
                        <span class="mif-build feature-check"></span>
                    </div>
                </div>
                <div class="cell-md-6">
                    <div class="box h-100">
                        <h4>MULTI-TENANCY (PRO VERSION)</h4>
                        <p>
                            Using ERSK as starting point you can build a multi-tenant solution where each team (tenant) will have its own collection of users, administrators, reports and all other enitities.
                        </p>
                        <span class="mif-group feature-check"></span>
                    </div>
                </div>
                <div class="cell-md-6">
                    <div class="box h-100">
                        <h4>SCHEDULED REPORTS (PRO VERSION)</h4>
                        <p>
                            Starting from version 2.1 of ERSK, it’s possible to define a schedule for each report (e.g. daily, hourly, two time per week, etc) by which it will be executed and the result will be exported to some format (Excel, PDF, CSV) and then will be sent by email to the specified address(es).
                        </p>
                        <span class="mif-report feature-check"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid easyreport-screens">
        <div class="container">
            <div class="row">
                <div class="cell-ld-5 d-flex flex-column flex-justify-center">
                    <h1 class="text-bold fg-white">SCREEN<span>SHOTS</span></h1>
                </div>
                <div class="cell-ld-1 d-none d-flex-md flex-align-center">
                </div>
                <div class="cell-ld-6 easy-report-images">
                    <div class="row" data-role="lightbox" data-cls-close="bg-red fg-white" data-icon-close="<span class='mif-cross'>">
                        <div class="cell-6">
                            <div class="image-preview h-100 border bd-default">
                                <Image src={report1Image} data-original={report1Image.url} alt="" />
                            </div>
                        </div>
                        <div class="cell-6">
                            <div class="image-preview h-100 border bd-default">
                                <Image src={report2Image} data-original={report2Image.url} alt="" />
                            </div>
                        </div>
                        <div class="cell-6">
                            <div class="image-preview h-100 border bd-default">
                                <Image src={report3Image} data-original={report3Image.url} alt="" />
                            </div>
                        </div>
                        <div class="cell-6">
                            <div class="image-preview h-100 border bd-default">
                                <Image src={report4Image} data-original={report4Image.url} alt="" />
                            </div>
                        </div>
                        <div class="cell-6">
                            <div class="image-preview h-100 border bd-default">
                                <Image src={report5Image} data-original={report5Image.url} alt="" />
                            </div>
                        </div>
                        <div class="cell-6">
                            <div class="image-preview h-100 border bd-default">
                                <Image src={report6Image} data-original={report6Image.url} alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid pt-10 pb-10" id="licensing">
        <div class="container">
            <h2 class="text-center">
                License Price
            </h2>
            <div class="scrollable-container mt-6">
                <table class="price-table striped table">
                    <tbody>
                    <tr>
                        <td><h2 class="text-bold"></h2></td>
                        <td>
                            <div class="text-leader">Community</div>
                            <small></small><span class="price">Free</span>
                        </td>
                        <td>
                            <div class="text-leader">Enterprise</div>
                            <small>$</small><span class="price">1999</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-leader">Features</span></td>
                        <!-- <td><a id="GetERSKBtn" href="javascript:" class="button info">DOWNLOAD</a></td> -->
                        <td><a href="https://account.korzh.com/get-perk/?ctag=ERSK-FREE&ptag=ERSK&diid=774" class="button info" slow-loading>DOWNLOAD</a></td>
                        <td><a href="https://account.korzh.com/orderform?c=ERSK-COMP" data-ga-page-path="/checkout/ERSK" class="button info" slow-loading>BUY NOW</a></td>
                    </tr>
                    <tr>
                        <td>Report Management</td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>User Management</td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>Report Sharing</td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>Data Visualisation (tables)</td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>Data Export (CSV, PDF, Excel)</td>
                        <td><span class="mif-cross fg-red"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>Multi-tenancy</td>
                        <td><span class="mif-cross fg-red"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>Visual query builder</td>
                        <td><span class="mif-cross fg-red"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>Advanced data visualization (charts, pivot tables)</td>
                        <td><span class="mif-cross fg-red"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>Scheduled reports</td>
                        <td><span class="mif-cross fg-red"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td><a href="/easyquery#licensing">EasyQuery ASP.NET Core Company</a> license</td>
                        <td><span class="mif-cross fg-red"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    <tr>
                        <td>Technical support</td>
                        <td><span class="mif-cross fg-red"></span></td>
                        <td><span class="mif-checkmark fg-green"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <FrequentlyAskedQuestions />
    <MoreQuestions/>
</PageLayout>
<style is:global lang="less">
    #appbar {
        --appbar-item-background-hover: #80668b;
        --appbar-item-color-hover: #ffffff;
        --d-menu-item-background-hover: #80668b;
        --d-menu-item-color-hover: #ffffff;
        .active-container {
            background-color: #80668b;
            color: #fff;
        }
    }
    
    .hero-section {
        background:
                url(../../images/site/bg-left.svg) left center / contain no-repeat scroll padding-box border-box,
                url(../../images/site/bg-right.svg) right center / contain no-repeat scroll padding-box border-box,
                linear-gradient(60deg, #5e4d65, #9b7ea9) 0 0 / auto repeat scroll padding-box border-box #5e4d65;
        background-blend-mode: normal, normal;
        color: rgb(255, 255, 255);
    }
    .easyreport-screens {
        padding: 40px 0 40px;
        background-color: #8285b5;
    }
</style>